 html {
                margin: 0;
                padding: 0;
                background-color: #f3f3f2;

            }
            body {
                margin: 0 auto;
                width: 70%;
                font: 100% Arial, Helvetica, sans-serif;
                padding: 1em 50px;
                background: white;
                border-bottom: 10px solid lavender;
            }
            h1 {
                font-family: 100% Georgia, "Times New Roman", Times, serif;
                font-size: 2em;
                font-weight: normal;
                font-style: italic;
                margin: 1em 0 .4em;
                padding: 5px 10px;
                background: lightblue;
            }
            p  {
                font-size: 1em;
                line-height: 1.6;
                text-align: justify;
                width: 60%;
                margin: 0;
                margin-bottom: 1em;
            }
            footer {
                font-size: 0.6em;
                line-height: 0.8;
                text-align: justify;
            }
            line {
              stroke: black;
            }
            svg {
              overflow: visible;
            }
            g.tick line {
              stroke: blue;
            }

            g.tick text{
              font-size: 12px;
              fill: purple;
            }
